BUSYBOX_VERSION=1.35.0
DROPBEAR_VERSION=2022.82
LINUX_KERNEL_VERSION=6.0.9

# Uncomment to build 64-bit version
ARCH=riscv64
ABI=lp64d
CROSS_COMPILE=riscv64-unknown-linux-gnu-

# Uncomment to build 32-bit version
# ARCH=riscv32
# ABI=ilp32d
# CROSS_COMPILE=riscv32-unknown-linux-gnu-

IMAGE_FILE=busybear-${ARCH}.bin
IMAGE_SIZE=1024
ROOT_PASSWORD=busybear
